@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
